/*---*/
/*---*/

/*@import "{{ site.theme }}";*/


.header{
  font-size: 32px;
  line-height: 120px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 6%;
}

.link-text{
  vertical-align: middle;
  margin-left: 6%;
  cursor: pointer;
}

.body-div{
  margin-top: -10px;
  min-height: 600px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
}

.head1{
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 25px;
}

.kbd-div{
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 25px;
  font-size: 22px;
}

.p1-div{
  font-size: 16px;
  font-family: "思源黑体 CN Medium";
  line-height: 28px;
}
.li-div{
  margin-bottom: 5px;
}

.hr-div{
  margin-top: -10px;
}

.font-family-div{
  font-family: "思源黑体 CN Medium";
}

.baseline{
  cursor: default;
}
.baseline:hover{
  background: #E0E0E0;
}

.audio-tb{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.audio-div{
  width: 100%;
}
.sase-audio{
  margin-left: 20px;
  margin-top: 35px;
  margin-bottom: 30px;
}